$font-family-sans-serif: 'Merriweather Sans';
$font-family-serif: 'Merriweather';
$primaryTeal-color: #0C7976;
$secondaryPink-color: #EF476F;
$secondaryOrange-color: #E9893D;
$darkGray-color:#82878C;
$gray-color: #A0A5AA;
$lightGray-color: #B4B9BE;
$black-color: #222;

html,
body {
    height:100%;
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

h1 {
    font-family: $font-family-sans-serif;
    font-size: 65px;
    color: $secondaryOrange-color;
}

h2 {
    font-family: $font-family-sans-serif;
    font-size: 40px;
    color: $secondaryOrange-color;
}

h3 {
    font-family: $font-family-sans-serif;
    font-size: 18px;
    color: $black-color;
}

h4 {
    font-family: $font-family-serif;
    font-size: 14px;
    color: $black-color;
}

p {
    font-family: $font-family-serif;
    font-size: 14px;
    color: $black-color;
}

.nav-btn,
.navbar-text {
    font-family: $font-family-sans-serif;
    color: $secondaryOrange-color;
}

#logo-signin-header {
    height: 138px;
}

#bookworm {
    padding-top: 15px;
}

.header-nav {
    background-color: $secondaryPink-color;
    background: linear-gradient(to bottom right, $secondaryPink-color, $secondaryOrange-color);
    border-top: 1px $lightGray-color solid;
    border-bottom: 1px $lightGray-color solid;
    box-shadow: 0px 3px 15px rgba(0,0,0.2,0.3);
    height: 85px;
    justify-content: space-between;
}

.left-header-item {
    padding: 0px;
}

#heading-display {
    margin: 15px;
    padding: 0 45px;
}

#search-input {
    width: 400px;
}

.btn {
    color: $black-color;
    box-shadow: 0px 3px 15px rgba(0,0,0.2,0.4);
    background-color: rgba(255, 255, 255, 0.4);
}

.btn-outline-success {
    border-color: black;
}

body {
    font: $font-family-serif;
}

img {
    width: 130px;
    height: 130px;
}

#display {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 0 70px 0 45px;
    min-height: 100%;
}

.loading {
    background: url('../../images/book.gif') no-repeat center center;
    min-height: 200px;
    min-width: 200px;
}

.book-img {
    width: 145px;
    height: 200px;
    padding-bottom: 3px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 350px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 3px 15px rgba(0,0,0.2,0.4);
}

.book-btn-display {
    display: flex;
    width: 150px;
    height: 115px;
}

.wish-delete-btn, .read-delete-btn {
    width: 125px;
}

.markread-btn {
    width: 125px;
}

.wishlist-btn img {
    width: 35px;
    height: 35px;
}

.footer {
    position: relative;
    bottom:0;
    width:100%;
}
