$font-family-sans-serif: 'Merriweather Sans';
$font-family-serif: 'Merriweather';
$primaryTeal-color: #0C7976;
$secondaryPink-color: #EF476F;
$secondaryOrange-color: #E9893D;
$darkGray-color:#82878C;
$gray-color: #A0A5AA;
$lightGray-color: #B4B9BE;
$black-color: #222;

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
}

h1 {
    font-family: $font-family-sans-serif;
    font-size: 48px;
    color: $secondaryOrange-color;
}

p {
    font-family: $font-family-serif;
    color: $darkGray-color;
}

.nav-btn,
.navbar-text {
    font-family: $font-family-sans-serif;
    color: $secondaryOrange-color;
}

.header-nav {
    background-color: $secondaryPink-color;
    background: linear-gradient(to bottom right, $secondaryPink-color, $secondaryOrange-color);
    border: 1px $lightGray-color solid;
    box-shadow: 0px 3px 15px rgba(0,0,0.2,0.3);
    height: 150px;
}

body {
    font: $font-family-serif;
}

img {
    width: 165px;
    height: 195px;
}

.bookworm {
    font: $font-family-sans-serif;
}

#search-input {
    width: 400px;
}

.btn-outline-success {
    border-color: $primaryTeal-color;
    background-color: whitesmoke;
    box-shadow: 0px 3px 15px rgba(0,0,0.2,0.3);
}

.search-btn {
    color: $secondaryOrange-color;
    box-shadow: 0px 3px 15px rgba(0,0,0.2,0.3);
}





